@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
 
h1{
    font-family: 'Chivo', sans-serif;
}
.bg-image-icon{
    background-image: url("./assets/bg-github.svg");
    background-repeat: no-repeat;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-size: 400px 400px;

}